@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}
.container h1{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.container h1 span{
    color: gold;
}
.container h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.container p{
    font-weight: 300;
    line-height: 1.5rem;
    margin: 10px 0;
    text-align: center;
}
.container p mark{
    background-color: gold;
    font-weight: 500;
    line-height: 1.4rem;
}
.container img{
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    transition: .5s ease transform;
}
.container img.inline{
    height: 24px;
    width: 24px;
    transform: translateY(5px);
}
hr{
    border-bottom: 2px solid black;
    margin: 20px auto;
    width: 50px;
}
a[type="button"]{    
    border: 2px solid gold;
    color: gold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin: 20px 0;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease;
    transition-property: background-color, color, opacity;
}
a[type="button"]:hover{
    color: white;
    background-color: gold;
}

/* Hero Section */
#hero{
    background-image: url(images/hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#hero::after{
    background-color: black;
    content: "";
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
}
#hero .container{
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}
#hero h1{
    color: transparent;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    animation: text_reveal .5s ease forwards;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_highlight .5s ease forwards;
    animation-delay: 3s;
}
#hero h1:nth-child(4){
    animation-delay: 4s;
}
#hero h1:nth-child(5){
    animation: text_reveal_highlight .5s ease forwards;
    animation-delay: 5s;
}
#hero h1 span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: gold;
    animation: text_reveal_box 1s ease;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero h1:nth-child(4) span{
    animation-delay: 3.5s;
}
#hero h1:nth-child(5) span{
    animation-delay: 4.5s;
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_highlight{
    100%{
        color: gold;
        font-weight: 700;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
/* End Hero Section */

/* About Section */
#about section{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about .img{
    position: relative;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
}
#about .img img{
    border: 5px solid white;
    border-radius: 50%;
}
#about .img::after{
    background-color: gold;
    border-radius: 50%;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: scale(1.05);
    z-index: -1;
}
/* End About Section */

/* Services Section */
#services{
    background-color:rgb(248, 248, 248);
}
#services .services-items{
    display: flex;
    flex-direction: column;
}
#services .service-item{
    background-color: white;
    border: 2px solid gold;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: .5s ease background-color;
}
#services .service-item:hover{
    background-color: gold;
}
#services .service-icon{
    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    padding: 10px;
}
/* End Services Section */

/* Projects Section */
#projects .projects-items{
    display: flex;
    flex-direction: column;
}
#projects .project-item{
    border: 2px solid gold;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
}
#projects .project-image{
    max-height: 200px;
    overflow: hidden;
    position: relative;
}
#projects .project-image a{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}
#projects .project-item:hover .project-image img{
    transform: scale(1.05);
}
#projects .project-item:hover .project-image a{
    opacity: 1;
}
#projects .project-information{
    padding: 20px;
    transition: .5s ease background-color;
}
#projects .project-item:hover .project-information{
    background-color: gold;
}
/* End Projects Section */

/* Contact Section */
#contact{
    background-color: rgb(248, 248, 248);
}
#contact section{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End Contact Section */

/* Footer */
footer{
    background-color: rgba(30,30,30);
}
footer .container{
    min-height: 200px;
    padding: 30px 0 10px 0;
}
footer .container h1{
    font-size: 2rem;
}
footer h1, footer h2, footer p{
    color: white;
}
footer .social-media{
    margin: 10px 0;
}
footer .social-media img{
    border: 2px solid gold;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 8px;
    transition: .5s ease background-color;
}
footer .social-media img:hover{
    background-color: gold;
}
/* End Footer */