@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
a[type="button"]{    
    border: 2px solid gold;
    color: gold;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin: 20px 0;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s ease;
    transition-property: background-color, color;
}
a[type="button"]:hover{
    color: white;
    background-color: gold;
}

/* Hero Section */
#hero{
    background-image: url(images/hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#hero::after{
    background-color: black;
    content: "";
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
}
#hero .container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#hero h1{
    color: transparent;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    animation: text_reveal .5s ease forwards;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_highlight .5s ease forwards;
    animation-delay: 3s;
}
#hero h1:nth-child(4){
    animation-delay: 4s;
}
#hero h1:nth-child(5){
    animation: text_reveal_highlight .5s ease forwards;
    animation-delay: 5s;
}
#hero h1 span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: gold;
    animation: text_reveal_box 1s ease;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero h1:nth-child(4) span{
    animation-delay: 3.5s;
}
#hero h1:nth-child(5) span{
    animation-delay: 4.5s;
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_highlight{
    100%{
        color: gold;
        font-weight: 700;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
/* End Hero Section */